.content-2-2 .btn-outline {
    border: 1px solid #979797;
    color: #979797;
}

.content-2-2 .btn-outline:hover {
    border: 1px solid #27c499;
    color: #27c499;
}

.content-2-2 .btn-fill {
    background-color: #27c499;
    border: 1px solid #27c499;
}

.content-2-2 .card-header {
    background-color: #eef6f4;
    border: 1px solid #27c499;
}

.content-2-2 .text-medium-black {
    color: #121212;
}

.content-2-2 .text-gray {
    color: #565656;
}

.content-3-2 .circle {
    background-color: #27c499;
}

.content-3-2 .caption {
    color: #565656;
}

.content-3-2 .btn-fill {
    background-color: #27c499;
    transition: 0.3s;
}

.content-3-2 .btn-fill:hover {
    background-color: #45dbb2;
    transition: 0.3s;
}

.content-3-2 .text-medium-black {
    color: #121212;
}